<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bfbc1ab4a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/home.css">

    <title>Fileupload</title>
</head>

<body>
    <header id="navbar">
        <div class="navbar__logo">
            <i class="fas fa-cloud-upload-alt"></i>
            <a href="#">Fileupload</a>
        </div>
        <div class="navbar__title">

        </div>
        <ul class="main__menu">
            <li class="main__menu-item">
                <a href="home">Home</a>
            </li>
            <li class="main__menu-item">
                <a href="stats">Stats</a>
            </li>
            <li class="main__menu-item">
                <a href="#">Security</a>
            </li>

            <li class="main__menu-item">
                <a href="#">Terminal</a>
            </li>
        </ul>
    </header>

    <section id="main">
        <div class="content__header">
            <h1>Directory Contents</h1>
            <h2>Current Path : /root</h2>
        </div>
        <div class="content__screen">
            <div class="content folder object">
                <i class="fas fa-folder"></i>
                <span>Project</span>
            </div>
            <div class="content folder object">
                <i class="fas fa-folder"></i>
                <span>git-tutorial</span>
            </div>
            <div class="content folder object">
                <i class="fas fa-folder"></i>
                <span>Gallery</span>
            </div>
            <div class="content image object">
                <i class="far fa-file-image"></i>
                <span>profile.jpg</span>
            </div>
            <div class="content text object">
                <i class="far fa-file-alt"></i>
                <span>Hello.txt</span>
            </div>
        </div>
    </section>
    <div id="context-menu">
        <div class="item">
            <i class="fas fa-download"></i> 다운로드
        </div>
        <div class="item">
            <i class="fas fa-info-circle"></i> 세부정보
        </div>
        <div class="item">
            <i class="far fa-edit"></i> 이름변경
        </div>
        <div class="item">
            <i class="fas fa-trash-alt"></i> 삭제
        </div>
    </div>

    <div id="detail-modal">

    </div>

    <script type="text/javascript" src="/js/home.js"></script>
</body>

</html>