<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bfbc1ab4a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="/static/css/index.js" type="text/javascript" defer></script>
    <title>Fileupload</title>
</head>

<body>
    <header id="navbar">
        <div class="navbar__logo">
            <i class="fas fa-cloud-upload-alt"></i>
            <a href="#">Fileupload</a>
        </div>
        <div class="navbar__title">

        </div>
        <ul class="main__menu">
            <li class="main__menu-item">
                <a href="home.html">Home</a>
            </li>
            <li class="main__menu-item">
                <a href="stats.html">Stats</a>
            </li>
            <li class="main__menu-item">
                <a href="#">Security</a>
            </li>

            <li class="main__menu-item">
                <a href="#">Terminal</a>
            </li>
        </ul>
    </header>

    <section id="main">
        <div class="content__header">
            <h1>Directory Contents</h1>
            <h2>Current Path : /root</h2>
        </div>
        <div class="content__screen">
            <div class="object folder">
                <i class="fas fa-folder"></i>
                <span>Project</span>
            </div>
            <div class="object folder">
                <i class="fas fa-folder"></i>
                <span>git-tutorial</span>
            </div>
            <div class="object folder">
                <i class="fas fa-folder"></i>
                <span>Gallery</span>
            </div>
            <div class="object image">
                <i class="far fa-file-image"></i>
                <span>profile.jpg</span>
            </div>
            <div class="object text">
                <i class="far fa-file-alt"></i>
                <span>Hello.txt</span>
            </div>

        </div>
    </section>
</body>

</html>