<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bfbc1ab4a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/home.css">

    <title>Fileupload</title>
</head>

<body>
    <header id="navbar">
        <div class="navbar__logo">
            <i class="fas fa-cloud-upload-alt"></i>
            <a href="#">Fileupload</a>
        </div>
        <div class="navbar__title">

        </div>
        <ul class="main__menu">
            <li class="main__menu-item">
                <a href="home">Home</a>
            </li>
            <li class="main__menu-item">
                <a href="stats">Stats</a>
            </li>
            <li class="main__menu-item">
                <a href="#">Security</a>
            </li>

            <li class="main__menu-item">
                <a href="#">Terminal</a>
            </li>
        </ul>
    </header>

    <section id="main">
        <div class="content__header">
            <h1>Directory Contents</h1>
            <h2>Current Path : /root</h2>
        </div>
        <!--fetch 함수로 서버로 부터 값을 받아옴-->
        <div class="content__screen">

        </div>
    </section>
    <!-- 클릭했을 때 어떤 파일인지 어떻게 알 수 있는가 현재 경로와  파일이름을 보내면 되나? 그럼 해당 정보를 기반으로 fetch -->
    <div id="context-menu">
        <div class="item" id="download">
            <i class="fas fa-download"></i> 다운로드
        </div>
        <div class="item" id="detail">
            <i class="fas fa-info-circle"></i> 세부정보
        </div>
        <div class="item" id="edit">
            <i class="far fa-edit"></i> 이름변경
        </div>
        <div class="item" id="delete">
            <i class="fas fa-trash-alt"></i> 삭제
        </div>
    </div>

    <div id="detail-modal">
        <div class="modal__content">
            <span class="close">&times;</span>
        </div>
    </div>

    <script type="text/javascript" src="/js/home.js"></script>
</body>

</html>