<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bfbc1ab4a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/css/index.js" type="text/javascript" defer></script>
    <title>Fileupload</title>
</head>

<body>
    <header id="navbar">
        <div class="navbar__logo">
            <i class="fas fa-cloud-upload-alt"></i>
        </div>
        <div class="navbar__title">
            <h1>Fileupload</h1>
        </div>
    </header>

    <section id="main">
        <nav>
            <ul class="main__menu">
                <li class="main__menu-item">
                    <a href="#">Home</a>
                </li>
                <li class="main__menu-item">
                    <a href="#">Setting</a>
                </li>
                <li class="main__menu-item">
                    <a href="#">Security</a>
                </li>
                <li class="main__menu-item">
                    <a href="#">Rule</a>
                </li>
                <li class="main__menu-item">
                    <a href="#">Support</a>
                </li>
                <li class="main__menu-item">
                    <a href="#">Terminal</a>
                </li>
                <li class="main__menu-item">
                    <a href="#">Network</a>
                </li>
                <li class="main__menu-item">
                    <a href="#">Firewall</a>
                </li>
                <li class="main__menu-item">
                    <a href="#">Test</a>
                </li>
                <li class="main__menu-item">
                    <a href="#">Test</a>
                </li>
            </ul>
        </nav>
        <div class="main__content">
            <H1>Hello world</H1>
        </div>
    </section>
</body>

</html>