<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bfbc1ab4a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <title>Document</title>
</head>

<body>
    <section id="main">
        <div class="glass">
            <div class="login__title">
                <i class="fas fa-sign-in-alt"></i>
                <span>Login</span>

            </div>
            <div class="login__content">
                <input class="id" type="text" placeholder="User ID" />
                <input class="password" type="password" placeholder="User Password" />
                <button class="login-btn">Login</button>
            </div>
        </div>
    </section>
</body>

</html>