<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bfbc1ab4a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>Document</title>
</head>

<body>
    <div id="context-menu">
        <div class="item">
            <i class="fas fa-download"></i> 다운로드
        </div>
        <div class="item">
            <i class="fas fa-info-circle"></i> 세부정보
        </div>
        <div class="item">
            <i class="far fa-edit"></i> 이름변경
        </div>
        <div class="item">
            <i class="fas fa-trash-alt"></i> 삭제
        </div>
    </div>

    <script type="text/javascript" src="/static/js/home.js"></script>
</body>

</html>