/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-navy: #34354B;
    --color-light-purple: #9c4dcc;
    --color-purple: #6a1b9a;
    --color-light-orange: #ff8a50;
    --color-light-green: #8bc34a;
    --color-light-red: #ff7961;
    --color-dark-purple: #65499c;
    /* Font Size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    /* Size */
    --size-bolder-radius: 4px;
    /* Animation */
    --animation-duration: 300ms;
}

#main {
    text-align: center;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.content__header {
    color: var(--color-orange);
    font-weight: var(--weight-bold);
    font-size: 24px;
}

.content__header h1,
.content__header h2 {
    margin: 0px;
    padding: 4px;
}

.content__table {
    margin: 0;
    padding: 12px;
    width: 100%;
    border-spacing: 0px;
}

.content__table th {
    background-color: var(--color-dark-pink);
    color: var(--color-light-white);
    padding: 12px;
    margin: 0px;
}

.content__table td {
    padding: 4px 8px;
    cursor: pointer;
    font-weight: var(--weight-semi-bold);
    color: var(--color-grey);
}

.content__table tr:nth-child(odd) {
    background-color: #e0e0e0;
}

.content__table tr:nth-child(even) {
    background-color: #ededed;
}

.content__table tr:hover,
.content__table tr:hover td {
    color: var(--color-white);
    background-color: var(--color-light-grey);
}

.content__table tr {
    transition: all var(--animation-duration) ease;
}


/*=====================================================*/

.content__screen {
    position: relative;
    background: linear-gradient(to right top, #65dfc9, #6cdbfd);
    margin: 25px 50px;
    height: 80%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    align-content: flex-start;
}

.content {
    font-size: 56px;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    height: 120px;
    transition: all var(--animation-duration) ease;
}

.folder {
    color: #ffd600;
}

.image {
    color: var(--color-light-red);
}

.text {
    color: var(--color-light-white);
}

.content span {
    font-size: 24px;
    color: var(--color-black);
}

.content:hover {
    transform: scale(1.1);
}

.content::after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    position: relative;
    left: 13%;
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-dark-pink);
    transform-origin: left;
    transition: width 300ms ease;
    z-index: -1;
    opacity: 0;
}

.content:hover::after {
    opacity: 1;
    width: 100%;
}

#context-menu {
    width: 150px;
    background-color: var(--color-light-white);
    position: fixed;
    z-index: 10000;
    transform: scale(0);
    transform-origin: top left;
    border-radius: var(--size-bolder-radius);
}

#context-menu.active {
    transform: scale(1.1);
    transition: transform var(--animation-duration) ease-in-out;
}

#context-menu.remove {
    transform: scale(0);
    transition: transform var(--animation-duration) ease-in-out;
}

#context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: var(--color-dark-grey);
}

#context-menu .item:hover {
    background-color: var(--color-light-grey);
}

#context-menu .item i {
    display: inline-block;
    margin-right: 5px;
}

#context-menu .item:hover {
    color: var(--color-white);
}

#detail-modal {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

.modal__content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    min-height: 20%;
    /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 560px) {
    .modal__content {
        width: 90%;
    }
    #navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .main__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .main__menu-item {
        width: 100%;
    }
}