:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-navy: #34354B;
    --color-light-purple: #9c4dcc;
    --color-purple: #6a1b9a;
    --color-light-orange: #ff8a50;
    --color-light-green: #8bc34a;
    --color-light-red: #ff7961;
    /* Font Size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    /* Size */
    --size-bolder-radius: 4px;
    /* Animation */
    --animation-duration: 300ms;
}

#main {
    text-align: center;
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.section {
    text-align: center;
    padding: 12px;
}

.capacity {
    width: 100%;
}

.capacity__topbar {
    display: flex;
    justify-content: center;
}

.capacity__title {
    font-size: 24px;
    padding: 0px 12px;
}

.capacity__logo {
    color: var(--color-light-grey);
    font-size: 32px;
    padding: 0 12px;
    transition: all var(--animation-duration) ease;
    position: relative;
    top: 36px;
}

.capacity__logo:hover {
    transform: scale(1.1)
}

.capacity__bar {
    height: 30px;
    background: #e0e0e0;
    border-radius: var(--size-bolder-radius);
}

.capacity__value {
    height: 30px;
    background: #98ee99;
    width: 32%;
    border-radius: var(--size-bolder-radius);
}

.capacity__percent {
    font-size: 20px;
    font-weight: var(--weight-bold);
    padding: 1px;
    text-align: center;
    color: var(--color-grey);
}

.stats__bar {
    margin: 32px 0;
    height: 30px;
    background: #e0e0e0;
    border-radius: var(--size-bolder-radius);
    display: flex;
}

.stats__value {
    height: 30px;
}

.stats__value:nth-child(1) {
    border-radius: 4px 0px 0px 4px;
}


/* 끝만 어떻게 하지*/

.stats__value:nth-child(3) {
    border-radius: 0px 4px 4px 0px;
}

.value__name {
    padding: 1px;
    font-size: 20px;
    font-weight: var(--weight-bold);
    text-align: center;
    color: var(--color-grey);
}

.logging {
    width: 100%;
}

.logging__topbar {
    display: flex;
    justify-content: center;
}

.logging__logo {
    color: var(--color-light-purple);
    position: relative;
    top: 36px;
    font-size: 32px;
    padding: 0px 12px;
    transition: all var(--animation-duration) ease;
}

.logging__logo:hover {
    transform: scale(1.1)
}

.logging__title {
    font-size: 24px;
    padding: 0 12px;
}

.logging__content {}

.logging__table {
    margin: 0;
    width: 100%;
    border-spacing: 0px;
}

.logging__table th {
    background-color: #ff8a50;
    color: var(--color-light-white);
    padding: 12px;
    margin: 0px;
}

.logging__table td {
    padding: 4px 8px;
    cursor: pointer;
    font-weight: var(--weight-semi-bold);
    color: var(--color-grey);
}

.logging__table tr:nth-child(odd) {
    background-color: #e0e0e0;
}

.logging__table tr:nth-child(even) {
    background-color: #ededed;
}

.logging__table tr:hover,
.logging__table tr:hover td {
    color: var(--color-white);
    background-color: var(--color-light-grey);
}

.logging__table tr {
    transition: all var(--animation-duration) ease;
}

@media only screen and (max-width: 560px) {
    .value__name {
        padding: 6px;
        font-size: 15px;
        font-weight: var(--weight-bold);
        text-align: center;
        color: var(--color-grey);
    }
    .capacity__percent {
        font-size: 15px;
        font-weight: var(--weight-bold);
        text-align: center;
        padding: 4px;
        color: var(--color-grey);
    }
    .main__content {
        flex-direction: column;
    }
    .pagination a {
        font-size: 14px;
        color: var(--color-black);
        padding: 8px 12px;
        font-weight: var(--weight-bold);
        transition: all var(--animation-duration) ease;
    }
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: center;
        text-align: start;
        direction: rtl;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        text-align: left;
        white-space: nowrap;
    }
    /*
	Label the data
	*/
    td:nth-of-type(1):before {
        content: "Method";
    }
    td:nth-of-type(2):before {
        content: "Filename";
    }
    td:nth-of-type(3):before {
        content: "Type";
    }
    td:nth-of-type(4):before {
        content: "Path";
    }
    td:nth-of-type(5):before {
        content: "Date";
    }
}