/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-navy: #34354B;
    --color-light-purple: #9c4dcc;
    --color-purple: #6a1b9a;
    /* Font Size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    /* Size */
    --size-bolder-radius: 4px;
    /* Animation */
    --animation-duration: 300ms;
}


/*box-sizing은 박스의 크기를 어떤 것을 기준으로 계산할지를 정하는 속성입니다.*/

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

ul {
    margin: 0
}

#navbar {
    display: flex;
    background-color: lightblue;
}

.navbar__logo {
    font-size: var(--font-large);
    position: relative;
    top: 8px;
    margin: 0px 12px;
    color: var(--color-light-white);
    transition: all var(--animation-duration) ease;
}

.navbar__logo:hover {
    color: var(--color-pink);
    transform: scale(1.1)
}

.navbar__title {
    color: var(--color-light-white);
}

#main {
    display: flex;
    height: 100%;
}

.main__menu {
    text-align: center;
    padding: 0;
    width: 150px;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: var(--color-light-white);
}

.main__menu-item {
    font-size: var(--font-regular);
    margin: 0;
    padding: 8px 12px;
    border: 1px solid var(--color-white);
    border-radius: var(--size-bolder-radius);
    transition: all var(--animation-duration) ease;
}

.main__menu-item a {
    color: var(--color-dark-grey);
}

.main__menu-item:hover {
    background-color: var(--color-light-grey);
    border-radius: var(--size-bolder-radius);
}

.main__menu-item:hover a {
    color: var(--color-white)
}

.main__content {}